<div class="col-xs-8 col-xs-offset-2 see-box text-center">


	<h1 class="custom-h1">
		On-Demand Marijuana Delivery for Patients in Sacramento, California
	</h1>

	<%= link_to 'Join CleverTree Collective', '/register', :class => 'btn btn-primary' %>
	<%= link_to 'Log-In', '/home', :class => 'btn btn-success' %>


</div>
<div><br/>
<br/></div>