<head><% set_meta_tags :site => 'Clevertree', :title => 'On Demand Medical Marijuana Delivery in California',
						:description => 'Clevertree is an upcoming mobile app for iOS to deliver on-demand medical marijuana for patients in California. Coming Fall 2014!',
						:keywords => 'Clevertree, Medical Marijuana, Delivery, On Demand, California, Marijuana Delivery, Cannabis, Weed, Pot, Uber' %>
</head>


<!-- Begin LaunchRock Widget -->
<div id="lr-widget" rel="0WX28IA3"></div>
<script type="text/javascript" src="//ignition.launchrock.com/ignition-current.min.js"></script>
<!-- End LaunchRock Widget -->

<meta property="og:title" content="Clevertree - On-Demand Medical Marijuana Delivery for Patients in California" />
<meta property="og:type" content="company" />
<meta property="og:site_name" content="Clevertree - On-Demand Medical Marijuana Delivery for Patients in California" />
<meta property="og:description" content="Clevertree is a mobile app for iOS that medical marijuana patients will be able to use to order and have cannabis delivered to your doorstep.

<p><br>We will be launching Northern California, CA this Fall 2014!
<p>Enter your email address for updates, and to be among the first to get access to Clevertree!" />
<meta property="og:url" content="http://clevertree.co" />
<meta property="og:image" content="" />


<!-- 
<div class="col-xs-8 col-xs-offset-2 see-box text-center">


	<h1 class="custom-h1">
		On-Demand Medical Marijuana Delivery for Patients in Sacramento, California
	</h1>
	<br><br>
	<h3 class="custom-h1">
	Coming Fall 2014
</h3>

	
	


</div>
<div><br/>
<br/></div>

 -->